/*
The following CSS properties may be set for the element, with behavior as specified in the HTML/CSS standard:
border (including derivatives: -left, -right, -top, -bottom, -width, -style, -color and their combinations)
box-shadow
margin (including derivatives: -left, -right, -top, -bottom)
opacity
visibility
position
top
right
bottom
left
float
clear
z-index
width
height
max-width
max-height
width
height
display
Note: The default dimensions of the <sundaysky-video> element are 640x360 pixels. Use the width and height CSS properties to override these dimensions.
 */

.player-container {
  @include respond(660){
    width: 100%;
  }
}

sundaysky-video {

}

.sskyplayer, .__sskyCtaElement {

}

.img__fallback {
  width: 100%;
  height: 100%;
}


/***** Style Play Button (Uncomment all lines and set the settings at top) *****/


$play-circle-diameter: 100; //Insert diameter in PX (without the 'px')
$play-bg-color: #fff;
$play-color: #062141;

@mixin playHover {
  transform: translate(-50%, -50%) scale(1.1) !important;
  box-shadow: 1rem 2.5rem 1.5rem rgba($color-black, .2);
  background-color: lighten($play-bg-color, 5) !important;
  outline: none;
}


$responsive-diameter: $play-circle-diameter / 6.4;
.video-js .vjs-big-play-button {

  width: $play-circle-diameter * 1px !important;
  height: $play-circle-diameter* 1px !important;
  border-radius: 100% !important;
  box-sizing: content-box !important;
  border: none !important;
  margin: 0 !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) scale(1) !important;
  background-color: $play-bg-color !important;

  @include respond(640) {
    height: $responsive-diameter * 1vw !important;
    width: $responsive-diameter * 1vw !important;
  }

  &:hover, &:focus {
    @include playHover;
  }

  &:active {
    transform: translate(-50%, -50%) scale(1) !important;
  }
}

/* Play Icon Inside Button */
.video-js .vjs-big-play-button .vjs-icon-placeholder:before {
  font-size: $play-circle-diameter* 0.65px;
  line-height: $play-circle-diameter* 1px;
  margin-left: $play-circle-diameter* 0.05px;
  font-family: 'playerFont' !important;
  color: $play-color;

  @include respond(640) {
    font-size: $responsive-diameter * 0.65vw;
    line-height: $responsive-diameter * 1vw;
    margin-left: $play-circle-diameter* 0.01vw;
  }
}

sundaysky-video:hover .vjs-big-play-button, sundaysky-video:focus .vjs-big-play-button {
  @include playHover;
}

.play-windows .video-js .vjs-big-play-button .vjs-icon-placeholder:before {
  line-height: $play-circle-diameter* 0.89px;
  @include respond(640) {
    line-height: $responsive-diameter * 0.89vw;
  }
}