.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 5rem;
  background-color: $color-blue;
  -webkit-box-shadow: 3px 11px 22px 9px rgba(148,148,148,0.33);
  box-shadow: 3px 11px 22px 9px rgba(148,148,148,0.33);

  @include respond(1100){
    height: 4rem;
  }

  @include respond(650){
    height: 3.5rem;
  }

  &__logo{
    margin-left: 1.7rem;

    &__img{
      height: 2.8rem;

      @include respond(1100){
        height: 2.3rem;
      }

      @include respond(650){
        height: 1.8rem;
      }
    }
  }
}